body{
    font-family: 'Playfair Display', serif;
    background: url("https://pibig.info/uploads/posts/2022-12/thumbs/1670046773_46-pibig-info-p-zadnii-fon-dlya-arta-krasivo-47.png") no-repeat center fixed;
    height: 100%;
    background-size: cover;
}
